interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/user
  response:
    body:
      string: '{"result":true,"user":{"tfa":{"enabled":false},"files":{"size":10000000000,"lastCheckPoint":"2023-07-13T22:51:13.755Z","used":2514850},"_id":1006974,"avatar":"","pro":true,"name":"MadHun","fullName":"MadHun","email":"peter.borocz+raindrop@gmail.com","groups":[{"title":"Collections","hidden":false,"sort":0,"collections":[29479383,29479296,29384146,26115550,26109849,26109558]}],"lastAction":"2023-07-21T02:31:45.943Z","lastVisit":"2023-07-21T02:27:44.826Z","registered":"2022-07-23T18:12:33.975Z","lastUpdate":"2023-07-21T02:31:45.943Z","config":{"raindrops_view":"list","raindrops_hide":["simple_info","grid_highlights","grid_tags","list_cover","simple_excerpt","simple_tags"],"raindrops_buttons":["select","new_tab","preview","edit","remove"],"raindrops_search_by_score":true,"raindrops_search_incollection":true,"broken_level":"default","font_size":0,"add_default_collection":-1,"acknowledge":[],"tags_hide":false,"filters_hide":false,"mobile_add_auto_save":true,"raindrops_sort":"-created","raindrops_grid_cover_size":3,"raindrops_list_cover_right":false,"default_collection_view":"list","last_collection":26109558},"password":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"472-E5ZydvXRazvYCFXg+QVGUSCZcS8"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '95'
      x-ratelimit-reset:
      - '1689906753'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections
  response:
    body:
      string: '{"result":true,"items":[{"_id":26109849,"title":"ToRead","description":"","public":false,"view":"grid","count":11,"cover":["https://up.raindrop.io/collection/thumbs/261/098/49/b066882190cb8d0597c4265bdcdc9fc3.png"],"expanded":false,"user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-03-19T00:57:46.040Z","created":"2022-07-23T19:09:13.565Z","lastUpdate":"2023-01-16T04:44:28.376Z","sort":26109849,"slug":"to-read","color":"#6b7271","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true},{"_id":26109558,"title":"Recipes","description":"","public":false,"view":"simple","count":273,"cover":["https://up.raindrop.io/collection/templates/materia-flat-food-vol-1/i26.png"],"expanded":false,"user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-07-13T22:54:41.621Z","created":"2022-07-23T18:42:12.323Z","lastUpdate":"2023-07-13T22:51:59.318Z","sort":5,"slug":"recipes","color":"#fb6c64","access":{"for":1006974,"level":4,"root"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections/childrens
  response:
    body:
      string: '{"result":true,"items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY"'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '93'
      x-ratelimit-reset:
      - '1689906753'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/user/stats
  response:
    body:
      string: '{"result":true,"items":[{"_id":0,"count":341},{"_id":-1,"count":25},{"_id":-99,"count":32}],"meta":{"_id":1006974,"changedBookmarksDate":"2023-07-21T02:31:45.953Z","broken":{"count":2},"pro":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-AZfww35CNn5cGOrsl4bSam2YdRo"
      x-api-cache:
      - HIT
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1689906814'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/tags
  response:
    body:
      string: '{"result":true,"items":[{"_id":"Chicken","count":47},{"_id":"Indian","count":37},{"_id":"Noodles","count":27},{"_id":"Chinese","count":23},{"_id":"*****","count":22},{"_id":"Thai","count":19},{"_id":"Dessert","count":18},{"_id":"Soup","count":16},{"_id":"Baking","count":14},{"_id":"Italian","count":14},{"_id":"Seafo[...]
