interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections
  response:
    body:
      string: '{"result":true,"items":[{"_id":26109849,"title":"ToRead","description":"","public":false,"view":"grid","count":11,"cover":["https://up.raindrop.io/collection/thumbs/261/098/49/b066882190cb8d0597c4265bdcdc9fc3.png"],"expanded":false,"user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-03-19T00:57:46.040Z","created":"2022-07-23T19:09:13.565Z","lastUpdate":"2023-01-16T04:44:28.376Z","sort":26109849,"slug":"to-read","color":"#6b7271","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true},{"_id":26109558,"title":"Recipes","description":"","public":false,"view":"simple","count":273,"cover":["https://up.raindrop.io/collection/templates/materia-flat-food-vol-1/i26.png"],"expanded":false,"user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-07-13T22:54:41.621Z","created":"2022-07-23T18:42:12.323Z","lastUpdate":"2023-07-13T22:51:59.318Z","sort":5,"slug":"recipes","color":"#fb6c64","access":{"for":1006974,"level":4,"root"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections/childrens
  response:
    body:
      string: '{"result":true,"items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY"'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections/childrens
  response:
    body:
      string: '{"result":true,"items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY"'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '116'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
version: 1
