interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/tags
  response:
    body:
      string: '{"result":true,"items":[{"_id":"Chicken","count":51},{"_id":"Indian","count":45},{"_id":"Noodles","count":39},{"_id":"chinese","count":34},{"_id":"Soup","count":30},{"_id":"*****","count":27},{"_id":"Thai","count":27},{"_id":"Baking","count":19},{"_id":"Mexican","count":19},{"_id":"Italian","count":18},{"_id":"Seafood","count":18},{"_id":"Sides","count":17},{"_id":"American","count":16},{"_id":"Dessert","count":16},{"_id":"Bread","count":14},{"_id":"Vegetable","count":14},{"_id":"****","count":13},{"_id":"Korean","count":13},{"_id":"Pasta","co[...]
