interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/user
  response:
    body:
      string: '{"result":true,"user":{"tfa":{"enabled":false},"files":{"size":10000000000,"lastCheckPoint":"2023-07-13T22:51:13.755Z","used":2496838},"_id":1006974,"avatar":"","pro":true,"name":"MadHun","fullName":"MadHun","email":"peter.borocz+raindrop@gmail.com","groups":[{"title":"Collections","hidden":false,"sort":0,"collections":[29479383,29479296,29384146,26115550,26109849,26109558]}],"lastAction":"2023-07-21T02:22:42.247Z","lastVisit":"2023-07-21T02:27:44.826Z","registered":"2022-07-23T18:12:33.975Z","lastUpdate":"2023-07-21T02:27:44.826Z","config":{"raindrops_view":"list","raindrops_hide":["simple_info","grid_highlights","grid_tags","list_cover","simple_excerpt","simple_tags"],"raindrops_buttons":["select","new_tab","preview","edit","remove"],"raindrops_search_by_score":true,"raindrops_search_incollection":true,"broken_level":"default","font_size":0,"add_default_collection":-1,"acknowledge":[],"tags_hide":false,"filters_hide":false,"mobile_add_auto_save":true,"raindrops_sort":"-created","raindrops_grid_cover_size":3,"raindrops_list_cover_right":false,"default_collection_view":"list","last_collection":26109558},"password":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"472-zTnxF8VAoc53PiqBQhV1qDhSVlA"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1689906600'
    status:
      code: 200
      message: OK
version: 1
