interactions:
- request:
    body: '{"title": "TEST Collection (peter"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.raindrop.io/rest/v1/collection
  response:
    body:
      string: '{"result":true,"item":{"title":"TEST Collection (peter","description":"","user":{"$ref":"users","$id":1006974},"public":false,"view":"list","count":0,"cover":[],"expanded":true,"creatorRef":1006974,"lastAction":"2023-07-21T02:30:22.323Z","created":"2023-07-21T02:30:22.323Z","lastUpdate":"2023-07-21T02:30:22.323Z","_id":36090997,"sort":36090997,"slug":"test-collection-peter","__v":0,"access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1d1-yCtsyDTbp79hWKga7+yIMWGLmck"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '114'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "EDITED TEST Collection (peter"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.raindrop.io/rest/v1/collection/36090997
  response:
    body:
      string: '{"result":true,"item":{"_id":36090997,"title":"EDITED TEST Collection
        (peter","description":"","slug":"edited-test-collection-peter","user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"public":false,"view":"list","count":0,"cover":[],"sort":36090997,"expanded":true,"lastAction":"2023-07-21T02:30:22.323Z","created":"2023-07-21T02:30:22.323Z","lastUpdate":"2023-07-21T02:30:23.315Z","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1fa-AnOHdqEs/dMt+09+lVwBoTCankE"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '113'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collection/36090997
  response:
    body:
      string: '{"result":false,"status":404,"errorMessage":"Not found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38-iJko4beMFEiuGB7qKIgn7EIFr2M"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '110'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 404
      message: Not Found
version: 1
