interactions:
- request:
    body: '{"type": "link", "link": "https://www.google.com/", "excerpt": "excerpt/description
      text", "important": true, "tags": ["abc", "def"], "title": "a Title"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.raindrop.io/rest/v1/raindrop
  response:
    body:
      string: '{"result":true,"item":{"link":"https://www.google.com/","title":"a
        Title","excerpt":"excerpt/description text","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["abc","def"],"important":true,"removed":false,"media":[],"created":"2023-07-21T02:30:27.485Z","lastUpdate":"2023-07-21T02:30:27.485Z","domain":"google.com","collection":{"$ref":"collections","$id":-1,"oid":-1},"_id":610963316,"creatorRef":1006974,"sort":610963316,"__v":0,"collectionId":-1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1e3-2EB3yw3OGyv6BQy7eyhnLjJ4pBs"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '109'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "a NEW/EDITED Title"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.raindrop.io/rest/v1/raindrop/610963316
  response:
    body:
      string: '{"result":true,"item":{"_id":610963316,"link":"https://www.google.com/","domain":"google.com","title":"a
        NEW/EDITED Title","excerpt":"excerpt/description text","note":"","type":"link","user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"avatar":"","name":"MadHun","email":""},"cover":"","media":[],"tags":["abc","def"],"highlights":[],"important":true,"removed":false,"sort":610963316,"created":"2023-07-21T02:30:27.485Z","lastUpdate":"2023-07-21T02:30:28.322Z","collection":{"$ref":"collections","$id":-1,"oid":-1},"__v":1,"collectionId":-1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"22d-Cl+9HstC2iF8BZ4/VmriJ8Xr1lk"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '108'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.raindrop.io/rest/v1/raindrop/610963316
  response:
    body:
      string: '{"result":true,"item":{"_id":610963316,"link":"https://www.google.com/","title":"a
        NEW/EDITED Title","excerpt":"excerpt/description text","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["abc","def"],"important":true,"removed":true,"media":[],"created":"2023-07-21T02:30:27.485Z","lastUpdate":"2023-07-21T02:30:29.089Z","domain":"google.com","collection":{"$ref":"collections","$id":-99,"oid":-99},"creatorRef":{"_id":1006974,"avatar":"","name":"MadHun","email":""},"sort":610963316,"collectionId":-99,"order":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"221-U/jbGCH4IvQq7qCAOAxFtyVpEBU"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '107'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/610963316
  response:
    body:
      string: '<!DOCTYPE html>

        <html lang="en">

        <head>

        <meta charset="utf-8">

        <title>Error</title>

        </head>

        <body>

        <pre>Cannot GET /rest/v1/610963316</pre>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '106'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 404
      message: Not Found
version: 1
