interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections
  response:
    body:
      string: '{"result":true,"items":[{"_id":26109849,"title":"ToRead","description":"","public":false,"view":"grid","count":10,"cover":["https://up.raindrop.io/collection/thumbs/261/098/49/b066882190cb8d0597c4265bdcdc9fc3.png"],"expanded":true,"user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-12-11T23:56:51.279Z","created":"2022-07-23T19:09:13.565Z","lastUpdate":"2023-12-11T23:56:51.279Z","sort":26109849,"slug":"to-read","color":"#6b7271","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true},{"_id":26109558,"title":"Recipes","description":"","public":false,"view":"simple","count":326,"cover":["https://up.raindrop.io/collection/templates/materia-flat-food-vol-1/i26.png"],"expanded":true,"user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-11-19T22:09:57.247Z","created":"2022-07-23T18:42:12.323Z","lastUpdate":"2023-12-11T23:59:20.038Z","sort":5,"slug":"recipes","color":"#fb6c64","access":{"for":1006974,"level":4,"root":[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/collections/childrens
  response:
    body:
      string: '{"result":true,"items":[{"_id":39866550,"title":"SubRecipes","description":"","user":{"$ref":"users","$id":1006974},"parent":{"$ref":"collections","$id":26109558},"public":false,"view":"list","count":0,"cover":[],"sort":-1,"expanded":true,"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-12-11T23:59:19.578Z","created":"2023-12-11T23:59:19.578Z","lastUpdate":"2023-12-11T23:59:19.578Z","slug":"sub-recipes","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true},{"_id":39866430,"title":"ToReadSubCollection","description":"","user":{"$ref":"users","$id":1006974},"parent":{"$ref":"collections","$id":26109849},"public":false,"view":"list","count":2,"cover":[],"sort":-1,"expanded":true,"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-12-11T23:56:51.279Z","created":"2023-12-11T23:33:57.577Z","lastUpdate":"2023-12-11T23:56:51.279Z","slug":"to-read-sub-collection","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true},{"_id":39866552,"title":"Another
        Nested","description":"","user":{"$ref":"users","$id":1006974},"parent":{"$ref":"collections","$id":39866430},"public":false,"view":"list","count":0,"cover":[],"sort":-1,"expanded":true,"creatorRef":{"_id":1006974,"name":"MadHun","email":""},"lastAction":"2023-12-11T23:59:46.386Z","created":"2023-12-11T23:59:46.387Z","lastUpdate":"2023-12-11T23:59:46.387Z","slug":"another-nested","access":{"for":1006974,"level":4,"root":false,"draggable":true},"author":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"5ef-HihIJuAJwvEhbcEO9ujnnIVKDi4"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '114'
      x-ratelimit-reset:
      - '1702339864'
    status:
      code: 200
      message: OK
[...]
