interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/tags
  response:
    body:
      string: '{"result":true,"items":[{"_id":"Chicken","count":47},{"_id":"Indian","count":37},{"_id":"Noodles","count":27},{"_id":"Chinese","count":23},{"_id":"*****","count":22},{"_id":"Thai","count":19},{"_id":"Dessert","count":18},{"_id":"Soup","count":16},{"_id":"Baking","count":14},{"_id":"Italian","count":14},{"_id":"Seafood","count":12},{"_id":"Mexican","count":11},{"_id":"****","count":10},{"_id":"Korean","count":10},{"_id":"Pasta","count":9},{"_id":"Testing","count":9},{"_id":"Pork","count":8},{"_id":"***","count":7},{"_id":"Asian","count":7},{"_id":"Vegetable","count":6},{"_id":"Shrimp","count":4},{"_id":"Tofu","count":4},{"_id":"Bread","count":3},{"_id":"Burmese","count":3},{"_id":"Holiday","count":3},{"_id":"Hungarian","count":3},{"_id":"Lamb","count":3},{"_id":"StickyRice","count":3},{"_id":"Turkey","count":3},{"_id":"Vietnamese","count":3},{"_id":"Beef","count":2},{"_id":"Eggplant","count":2},{"_id":"Japanese","count":2},{"_id":"Lunch","count":2},{"_id":"Paleo","count":2},{"_id":"Rice","count":2},{"_id":"**","count":1},{"_id":"African","count":1},{"_id":"American","count":1},{"_id":"Appetizer","count":1},{"_id":"BBQ","count":1},{"_id":"Brunch","count":1},{"_id":"Chili","count":1},{"_id":"French","count":1},{"_id":"Greek","count":1},{"_id":"Pizza","count":1},{"_id":"Potatoes","count":1},{"_id":"Sourdough","count":1},{"_id":"Tibet","count":1},{"_id":"Tuna","count":1},{"_id":"Turkish","count":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"58a-u/JAj9fIQTabHwoVXqA/SolT7hc"
      x-api-cache:
      - MISS
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1689906726'
    status:
      code: 200
      message: OK
version: 1
