interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/user
  response:
    body:
      string: '{"result":true,"user":{"tfa":{"enabled":false},"files":{"size":10000000000,"lastCheckPoint":"2023-10-01T21:47:03.246Z","used":8947690},"_id":1006974,"avatar":"","pro":true,"name":"MadHun","fullName":"MadHun","email":"peter.borocz+raindrop@gmail.com","groups":[{"title":"Collections","hidden":false,"sort":0,"collections":[29479383,29479296,29384146,26115550,26109849,26109558]}],"lastAction":"2023-12-12T00:10:55.616Z","lastVisit":"2023-12-12T00:06:55.272Z","registered":"2022-07-23T18:12:33.975Z","lastUpdate":"2023-12-12T00:10:55.616Z","config":{"raindrops_view":"list","raindrops_hide":["simple_info","grid_highlights","list_cover","simple_excerpt","simple_tags","grid_excerpt","grid_note","grid_info","list_excerpt","list_highlights","list_note"],"raindrops_buttons":["select","new_tab","preview","edit","remove"],"raindrops_search_by_score":true,"raindrops_search_incollection":true,"broken_level":"default","font_size":0,"add_default_collection":-1,"acknowledge":[],"tags_hide":false,"filters_hide":false,"mobile_add_auto_save":true,"raindrops_sort":"created","raindrops_grid_cover_size":2,"raindrops_list_cover_right":false,"default_collection_view":"list","last_collection":39866430},"password":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4b9-sVYuQmkFy3ChBzxbd0sMDVZ/Q/o"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
version: 1
