interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/user/stats
  response:
    body:
      string: '{"result":true,"items":[{"_id":0,"count":380},{"_id":-1,"count":8},{"_id":-99,"count":97}],"meta":{"_id":1006974,"changedBookmarksDate":"2023-12-11T23:59:46.765Z","broken":{"count":2},"pro":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c4-LEi/eAlUxAhc000TaMJklEtiZiA"
      x-api-cache:
      - MISS
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '111'
      x-ratelimit-reset:
      - '1702339864'
    status:
      code: 200
      message: OK
version: 1
