interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/user/stats
  response:
    body:
      string: '{"result":true,"items":[{"_id":0,"count":341},{"_id":-1,"count":25},{"_id":-99,"count":26}],"meta":{"_id":1006974,"changedBookmarksDate":"2023-07-21T02:21:03.574Z","broken":{"count":2},"pro":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-4AYsgG/TDCwTdhJXwHOUKyzP2ik"
      x-api-cache:
      - MISS
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '115'
      x-ratelimit-reset:
      - '1689906678'
    status:
      code: 200
      message: OK
version: 1
