interactions:
- request:
    body: '{"type": "link", "link": "https://www.google.com/", "excerpt": "excerpt/description
      text", "important": true, "tags": ["abc", "def"], "title": "a Title"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.raindrop.io/rest/v1/raindrop
  response:
    body:
      string: '{"result":true,"item":{"link":"https://www.google.com/","title":"a
        Title","excerpt":"excerpt/description text","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["abc","def"],"important":true,"removed":false,"media":[],"created":"2023-12-12T00:11:50.615Z","lastUpdate":"2023-12-12T00:11:50.615Z","domain":"google.com","collection":{"$ref":"collections","$id":-1,"oid":-1},"_id":693116158,"creatorRef":1006974,"sort":693116158,"__v":0,"collectionId":-1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1e3-+mTu4bhqwABd/dquCZzpDAAohe8"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '117'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "a NEW/EDITED Title"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.raindrop.io/rest/v1/raindrop/693116158
  response:
    body:
      string: '{"result":true,"item":{"_id":693116158,"link":"https://www.google.com/","domain":"google.com","title":"a
        NEW/EDITED Title","excerpt":"excerpt/description text","note":"","type":"link","user":{"$ref":"users","$id":1006974},"creatorRef":{"_id":1006974,"avatar":"","name":"MadHun","email":""},"cover":"","media":[],"tags":["abc","def"],"highlights":[],"important":true,"removed":false,"sort":693116158,"created":"2023-12-12T00:11:50.615Z","lastUpdate":"2023-12-12T00:11:51.123Z","collection":{"$ref":"collections","$id":-1,"oid":-1},"__v":1,"collectionId":-1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"22d-gFYs5LEGwGTkkS4+xXn4NS9A4RU"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '116'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.raindrop.io/rest/v1/raindrop/693116158
  response:
    body:
      string: '{"result":true,"item":{"_id":693116158,"link":"https://www.google.com/","title":"a
        NEW/EDITED Title","excerpt":"excerpt/description text","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["abc","def"],"important":true,"removed":true,"media":[],"created":"2023-12-12T00:11:50.615Z","lastUpdate":"2023-12-12T00:11:52.001Z","domain":"google.com","collection":{"$ref":"collections","$id":-99,"oid":-99},"creatorRef":{"_id":1006974,"avatar":"","name":"MadHun","email":""},"sort":693116158,"collectionId":-99,"order":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"221-5BRTdMVxCubZTayBfWyoZza7o8k"
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '115'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/693116158
  response:
    body:
      string: '<!DOCTYPE html>

        <html lang="en">

        <head>

        <meta charset="utf-8">

        <title>Error</title>

        </head>

        <body>

        <pre>Cannot GET /rest/v1/693116158</pre>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '114'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 404
      message: Not Found
version: 1
