interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=0&search=ELGOOG
  response:
    body:
      string: '{"result":true,"items":[{"_id":693116164,"link":"https://www.google.com/","title":"ELGOOG
        1234567890","excerpt":"","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["ABCDEFG","HIJKLMO"],"removed":false,"media":[],"created":"2023-12-12T00:11:57.995Z","lastUpdate":"2023-12-12T00:11:57.995Z","domain":"google.com","collection":{"$ref":"collections","$id":-1,"oid":-1},"creatorRef":{"_id":1006974,"avatar":"","name":"MadHun","email":""},"sort":693116164,"highlights":[],"collectionId":-1}],"count":1,"collectionId":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"221-OilztpBsT4mXRouCg5B+SWUoAuY"
      x-api-cache:
      - MISS
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '107'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=0&search=1234567890
  response:
    body:
      string: '{"result":true,"items":[{"_id":693116167,"link":"https://www.python.com/","title":"NOHTYP
        1234567890","excerpt":"","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["HIJKLMO","PQRSTUV"],"removed":false,"media":[],"created":"2023-12-12T[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=0&search=%23ABCDEFG
  response:
    body:
      string: '{"result":true,"items":[{"_id":693116164,"link":"https://www.google.com/","title":"ELGOOG
        1234567890","excerpt":"","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["ABCDEFG","HIJKLMO"],"removed":false,"media":[],"created":"2023-12-12T00:11:57.995Z","lastUpdate":"2023-12-12T00:11:57.995Z","domain":"google.com","collection":{"$ref":"collections","$id":-1,"oid":-1},"creatorRef":{"_id":1006974,"avatar":"","name":"MadHun","email":""},"sort":693116164,"highlights":[],"collectionId":-1}],"count":1,"collectionId":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"221-OilztpBsT4mXRouCg5B+SWUoAuY"
      x-api-cache:
      - MISS
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '101'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=0&search=%23HIJKLMO
  response:
    body:
      string: '{"result":true,"items":[{"_id":693116167,"link":"https://www.python.com/","title":"NOHTYP
        1234567890","excerpt":"","note":"","type":"link","user":{"$ref":"users","$id":1006974},"cover":"","tags":["HIJKLMO","PQRSTUV"],"removed":false,"media":[],"created":"2023-12-12T[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=0
  response:
    body:
      string: "{\"result\":true,\"items\":[{\"_id\":693116167,\"link\":\"https://www.python.com/\",\"title\":\"NOHTYP
        1234567890\",\"excerpt\":\"\",\"note\":\"\",\"type\":\"link\",\"user\":{\"$ref\":\"users\",\"$id\":1006974},\"cover\":\"\",\"tags\":[\"HIJKLMO\",\"PQRSTUV\"],\"removed\":false,\"med[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=1
  response:
    body:
      string: "{\"result\":true,\"items\":[{\"_id\":642620091,\"link\":\"https://api.raindrop.io/v2/raindrop/642620091/file?type=application/pdf\",\"title\":\"Spicy
        Chinese-Inspired Noodles\",\"excerpt\":\"\",\"note\":\"\",\"type\":\"document\",\"user\":{\"$ref\":\"users\",\"$id\":1006974},\"cover\":\"https://rdl.ink/render/https%3A%2F%2Fup.raindrop.io%2Fraindrop%2Ffiles%2F642%2F620%2F091%2FSpicy_Chinese_Inspired_Noodles.pdf\",\"tags\":[\"Chinese\",\"Noodles\",\"Sides\"],\"removed\":false,\"collection\":{\"$ref\":\"collections\",\"$id\":26109558,\"oid\":26109558},\"media\":[],\"created\":\"2023-09-07T00:25:53.067Z\",\"lastUpdate\":\"2023-09-07T00:25:54.195Z\",\"domain\":\"up.raindrop.io\",\"creatorRef\":{\"_id\":1006974,\"avatar\":\"\",\"name\":\"MadHun\",\"email\":\"\"},\"sort\":642620091,\"file\":{\"name\":\"Spicy
        Chinese-Inspired Noodles.pdf\",\"size\":2689182,\"type\":\"application/pdf\"},\"highlights\":[],\"cache\":{\"status\":\"ready\",\"size\":2689182,\"created\":\"2023-09-07T00:26:34.000Z\"},\"broken\":false,\"collectionId\":26109558},{\"_id\":642620045,\"link\":\"https://api.raindrop.io/v2/raindrop/642620045/file?type=application/pdf\",\"title\":\"Slow-Cooker
        Thai Chile & Corn Chowder\",\"excerpt\":\"\",\"note\":\"\",\"type\":\"document\",\"user\":{\"$ref\":\"users\",\"$id\":1006974},\"cover\":\"https://rdl.ink/render/https%3A%2F%2Fup.raindrop.io%2Fraindrop%2Ffiles%2F642%2F620%2F045%2FSlow_Cooker_Thai_Chile_and_Corn_Chowder.pdf\",\"tags\":[\"Thai\",\"Soup\"],\"removed\":false,\"collec[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=2
  response:
    body:
      string: "{\"result\":true,\"items\":[{\"_id\":556192940,\"excerpt\":\"A shrimp
        Louie is an old-school seafood salad that originated in early 1900s San Francisco.
        The primary elements of his salad include shrimp, iceberg lettuce, hard-boiled
        eggs and a thick Louie dressing many confuse for Thousand Island salad dressing.
        The famous shrimp salad is said to have been...\",\"note\":\"\",\"type\":\"article\",\"cover\":\"https://media.30seconds.com/tip/lg/The-Original-San-Francisco-Treat-A-Classic-Shrimp-Louie-Sa-57865-7105238d94-1681311069.jpg\",\"tags\":[],\"removed\":false,\"lastUpdate\":\"2023-04-12T20:22:12.175Z\",\"link\":\"https://30seconds.com/food/tip/57865/Old-School-Shrimp-Louie-Salad-Recipe-The-Original-San-Francisco-Treat\",\"important\":false,\"title\":\"Old-School
        Shrimp Louie Salad Recipe: The Original San Francisco Treat | Seafood | 30Seconds
        Food\",\"created\":\"2023-04-12T20:22:12.175Z\",\"media\":[{\"type\":\"image\",\"link\":\"https://media.30seconds.com/tip/lg/The-Original-San-Francisco-Treat-A-Classic-Shrimp-Louie-Sa-57865-7105238d94-1681311069.jpg\"},{\"type\":\"image\",\"link\":\"https://media.30seconds.com/tip/md/Remoulade-Shrimp-Pasta-Salad-Recipe-Is-Creamy-Cajun-Goodne-20886-b95a01d45b-1652196013.j[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.raindrop.io/rest/v1/raindrops/0?perpage=50&page=8
  response:
    body:
      string: '{"result":true,"items":[],"count":382,"collectionId":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37-m7WwV88XYxRVWnHWpBm5YVegRmE"
      x-api-cache:
      - MISS
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '89'
      x-ratelimit-reset:
      - '1702339952'
    status:
      code: 200
      message: OK
version: 1
